.container {
  width: 65vw;
  height: 91vh;
  margin: 1vh auto 0 auto;
  padding: 0.25rem;
  background-color: #0f1416b0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.item-card {
  width: 20%;
  position: relative;
  text-align: center;
  padding: 1.5rem 0 0.25rem 0;
}

.item-card:hover {
  background-color: #263238c4;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  pointer-events: none;
}

.card-link {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.card-name {
  text-align: center;
  width: calc(95%);
  white-space: nowrap;
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  cursor: pointer;
  padding: 0.2rem;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
}

.option-icon {
  width: 100%;
  height: 1rem;
  pointer-events: none;
}

.item-card:hover .option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover {
  background-color: #a0a0a052;
}

@media (max-width: 1250px) {
  .card {
    width: 25%;
  }
  .container {
    width: 80vw;
  }
}

@media (max-width: 900px) {
  .card {
    width: 33.3%;
  }
}

@media (max-width: 800px) {
  .option-icon {
    top: 0.25rem;
    right: 0.25rem;
    width: 1rem;
  }
}

@media (max-height: 825px) {
  .container {
    height: 87.8vh;
  }
}
